#wrapper{
	height: 800px;
	width: 672px;
	background-color: silver;
	margin: 0px auto;
	padding: 20px;
}
#header {
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	margin: 15px;

}
.blue {
	padding:10px;
   	border: 3px solid #021a40;
   	background-color: rgb(128, 191, 255);
	display:inline-block;
	width: 0 auto;
	height: 105px;
}

.red {
	padding:10px;
   	border: 3px solid #021a40;
   	background-color: rgb(255, 102, 102);
	display:inline-block;
	width: 0 auto;
	height: 105px;
}

